@tailwind base;
@tailwind components;
@tailwind utilities;
.wrapper{

    /* ff 3.6+ */
    background:-moz-linear-gradient(179deg, rgba(0, 255, 235, 1) 0%, rgba(7, 58, 187, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(179deg, rgba(0, 255, 235, 1) 0%, rgba(7, 58, 187, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(179deg, rgba(0, 255, 235, 1) 0%, rgba(7, 58, 187, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073ABB', endColorstr='#00FFEB', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(179deg, rgba(0, 255, 235, 1) 0%, rgba(7, 58, 187, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(179deg, rgba(0, 255, 235, 1) 0%, rgba(7, 58, 187, 1) 100%);
}
.activate{
    scale: 1;
}
.anti-activate{
    scale: 0;
}
.wind,.humidity,.clouds{
    min-height: 200px;
    min-width: 200px;
    /* background-color: darkgrey; */
    border: 3px double blueviolet;

    border-radius: 1rem;

    padding: 2rem;
}
.div-container{
    column-gap: 9.5rem;
}
.flag, .flag-y{
    height: 30px;
    width: 30px;
}
.cityName-para,h1, .cityName-p,.weather-type-s,.weather-type,.temperature,.tempsearch,.windmps,.hpercent,.cloud,.wsearch,.humidsearch,.cloudsearch{
    text-align: center;
    font-size: x-large;
}

  